.retarget-body {
	background-image: url(/client/images/png/bg-body.png);
	background-size: 73% 60%;
	background-repeat: no-repeat;
}

.record-behavior {
	padding-bottom: 212px;

	.mocap {
		display: flex;
		justify-content: space-between;
		padding-top: 57px;
		#mask-polina {
			path {
				transform: scale(1);
			}
		}
		//mocap-behavior
		&-behavior {
			height: 480px;
			clip-path: url(#mask-polina);
			video {
				object-fit: cover;
			}
			// .mocap-behavior--priced
			&--priced {
				clip-path: url(#mask-priced);
			}
		}
		.text-body {
			padding-left: 66px;
			padding-top: 60px;
			.btn {
				margin-top: 75px;
			}
		}
	}
}

.record-animation__body {
	.card {
		position: relative;
		display: inline-block;
		padding: 100px 0 310px 80px;

		//.card-body
		&-body {
			img {
				position: absolute;
				left: 0;
				bottom: 0;
				width: 1650px;
				height: 860px;
			}
		}

		p {
			width: 55%;
			font-family: "MS";
			font-weight: 700;
			font-size: 64px;
			line-height: 77px;
		}
	}
}

.plusMocap {
	padding: 110px 0 90px;

	p {
		margin-left: 95px;
		text-indent: -95px;
		font-family: "MS";
		font-weight: 700;
		font-size: 64px;
		line-height: 60px;
	}
}

.mocap-record {
	padding-bottom: 150px;

	h2 {
		padding-bottom: 37px;
	}

	.mocap {
		div {
			width: 50%;
		}

		p {
			font-size: 48px;
			line-height: 67px;
		}

		&-behavior {
			img {
				width: 100%;
				height: 100%;
				margin-left: -90px;
			}
		}
	}
}

.record-body__hero {
	padding: 38px 0 61px 0;

	.character {
		width: 50%;
		#mask-robots {
			path {
				transform: scale(0.88);
			}
		}
		// .chaaracter-btn
		&-btn {
			.button {
				justify-content: start;
			}
			.btn-gray__wrapper {
				flex-basis: auto;
			}
		}
		// .character-hero
		&-hero {
			clip-path: url(#mask-robots);
			width: 683px;
			img {
				width: 100%;
				height: 100%;
			}
		}
		&-btn {
			margin-top: 170px;
		}

		//.character-text--mobile
		&-text--mobile {
			display: none;
		}
	}
}
@media (min-width: 1600px) and (max-width: 1900px) {
	.record-behavior {
		.mocap .text-body {
			p {
				font-size: 40px;
				line-height: 60px;
			}
		}
	}
}
@media (min-width: 1400px) and (max-width: 1600px) {
	.retarget-body {
		p {
			width: 67%;
		}
	}

	.record-behavior {
		p {
			font-size: 30px;
			line-height: 39px;
		}

		.mocap {
			&-behavior {
				height: 464px;

				video {
					height: 80%;
					object-fit: cover;
				}

				//.mocap-behavior__body
				&__body {
					width: 42%;
					height: 441px;
				}
			}

			.text-body {
				width: 58%;
				padding-left: 60px;

				p {
					font-size: 30px;
					line-height: 55px;
				}

				.btn {
					margin-top: 75px;
				}
			}
			#mask-polina path {
				transform: scale(0.8);
			}
		}
	}

	.record-animation__body {
		.card {
			padding: 65px 0 310px 60px;

			p {
				width: 47%;
				font-size: 41px;
				line-height: 54px;
			}

			//.card-body
			&-body {
				img {
					width: 1300px;
					height: 720px;
				}
			}
		}
	}

	.plusMocap {
		padding: 70px 0;

		p {
			font-size: 43px;
			line-height: 56px;
		}
	}

	.mocap-record {
		h2 {
			font-size: 43px;
			line-height: 56px;
			padding-bottom: 37px;
		}

		.mocap {
			align-items: center;

			#mask-priced path {
				transform: scale(0.8);
			}

			// .mocap-behavior--priced
			&-behavior--priced {
				width: 45% !important;
				img {
					object-fit: cover;
					width: 98%;
					height: 81%;
					margin-left: 0;
				}
			}

			p {
				font-size: 28px;
				line-height: 47px;
			}
		}
	}

	.record-body__hero {
		padding: 60px 0 61px 0;

		.character {
			width: 54%;

			//.character-text
			&-text {
				h2 {
					font-size: 43px;
					line-height: 56px;
				}

				p {
					font-size: 28px;
					line-height: 47px;
				}
			}

			&-btn {
				margin-top: 60px;
			}
		}
	}
	.contact {
		//.contact-info
		&-info {
			a {
				font-size: 42px;
			}
		}
	}
}
@media (max-width: 1400px) {
	.retarget-body {
		p {
			width: 67%;
		}
	}

	.record-behavior {
		p {
			font-size: 30px;
			line-height: 39px;
		}

		.mocap {
			&-behavior {
				height: 464px;
				video {
					height: 80%;
				}
			}
		}
	}

	.record-animation__body {
		.card {
			padding: 65px 0 310px 60px;

			p {
				width: 47%;
				font-size: 41px;
				line-height: 54px;
			}

			&-body {
				img {
					width: 1164px;
					height: 717px;
				}
			}
		}
	}

	.plusMocap {
		padding: 70px 0;

		p {
			font-size: 43px;
			line-height: 56px;
		}
	}

	.mocap-record {
		padding-bottom: 100px;

		h2 {
			font-size: 43px;
			line-height: 56px;
			padding-bottom: 37px;
		}

		.mocap {
			div {
				width: 50%;
			}
			#mask-priced path {
				transform: scale(0.8);
			}
			// .mocap-behavior--priced
			&-behavior--priced {
				img {
					object-fit: cover;
					width: 98%;
					height: 81%;
					margin-left: 0;
				}
			}

			p {
				font-size: 28px;
				line-height: 47px;
			}
		}
	}

	.record-body__hero {
		.character {
			width: 54%;

			//.character-text
			&-text {
				h2 {
					font-size: 43px;
					line-height: 56px;
				}

				p {
					font-size: 28px;
					line-height: 47px;
				}
			}

			&-btn {
				margin-top: 60px;
			}
		}
	}
}

@media (max-width: 1200px) {
	.retarget-body {
		p {
			width: 75%;
		}
	}

	.record-behavior {
		p {
			font-size: 27px;
			line-height: 36px;
		}

		&__body {
			padding-bottom: 110px;
		}

		.mocap {
			#mask-priced path {
				transform: scale(0.65);
			}
			// .mocap-behavior--priced
			&-behavior--priced {
				img {
					object-fit: cover;
					width: 98%;
					height: 66%;
					margin-left: 0;
				}
			}
			.text-body {
				padding-left: 55px;
			}
		}
	}

	.record-animation__body {
		.card {
			padding: 65px 0 200px 20px;

			p {
				width: 55%;
				font-size: 39px;
				line-height: 48px;
			}

			&-body {
				img {
					width: 934px;
					height: 566px;
				}
			}
		}
	}

	.mocap-record {
		padding-bottom: 30px;

		.mocap {
			div {
				width: 51%;
			}
			#mask-polina {
				path {
					transform: scale(0.67);
				}
			}
			p {
				font-size: 27px;
			}
		}
	}

	.record-body__hero {
		.character {
			width: 45%;
			#mask-robots path {
				transform: scale(0.7);
			}
			// .character-hero
			&-hero {
				img {
					width: 90%;
					height: 80%;
					object-fit: cover;
				}
			}
			//.character-text
			&-text {
				p {
					font-size: 27px;
				}
			}
		}
	}
}

@media (max-width: 992px) {
	.record-behavior {
		p {
			font-size: 19px;
			line-height: 25px;
		}

		&__body {
			padding-bottom: 60px;
		}

		.mocap {
			#mask-priced path {
				transform: scale(0.43);
			}
			// .mocap-behavior--priced
			&-behavior--priced img {
				width: 84%;
				height: 65%;
			}
			.text-body {
				padding-left: 45px;
			}
			#mask-polina {
				path {
					transform: scale(0.52);
				}
			}
			&-behavior {
				margin-top: 40px;
				height: 310px;
			}

			.btn {
				margin-top: 40px;
			}
		}
	}

	.record-animation__body {
		.card {
			padding: 65px 0 130px 20px;

			p {
				font-size: 28px;
				line-height: 35px;
			}

			&-body {
				img {
					width: 741px;
					height: 420px;
					left: -33px;
					bottom: 2px;
				}
			}
		}
	}

	.plusMocap {
		padding: 40px 0;

		p {
			font-size: 35px;
			line-height: 45px;
			margin-left: 53px;
			text-indent: -53px;
		}
	}

	.mocap-record {
		padding-bottom: 30px;

		.mocap {
			div {
				width: 51%;
			}

			h2 {
				font-size: 35px;
				line-height: 45px;
				padding-bottom: 20px;
			}

			p {
				width: 92%;
				font-size: 19px;
				line-height: 25px;
			}
		}
	}

	.record-body__hero {
		.character {
			#mask-robots path {
				transform: scale(0.5);
			}
			// .character-hero
			&-hero img {
				width: 60%;
			}
			&-text {
				h2 {
					font-size: 35px;
					line-height: 45px;
					padding-bottom: 20px;
				}

				p {
					width: 99%;
					font-size: 19px;
					line-height: 25px;
				}
			}
		}
	}
}

@media (max-width: 768px) {
	.retarget-body {
		background-position: 97% -27px;
	}

	.record-behavior {
		p {
			font-size: 15px;
			line-height: 20px;
		}

		&__body {
			padding-bottom: 30px;
		}

		.mocap {
			#mask-polina {
				path {
					transform: scale(0.375);
				}
			}
			.text-body {
				padding-left: 10px;
				padding-top: 10px;
			}

			&-behavior {
				height: 220px;
			}

			.btn {
				margin-top: 30px;
				font-size: 10px;
				padding: 10px 30px;
			}
		}
	}

	.record-animation__body {
		.card {
			padding: 30px 0 40px 20px;

			p {
				font-size: 15px;
				line-height: 30px;
			}

			&-body {
				img {
					width: 513px;
					height: 228px;
					left: 9px;
					bottom: 4px;
				}
			}
		}
	}

	.plusMocap {
		padding: 20px 0;

		p {
			font-size: 20px;
			line-height: 30px;
			margin-left: 30px;
			text-indent: -30px;
			margin-bottom: 40px;
		}
	}

	.mocap-record {
		padding-bottom: 30px;

		.mocap {
			div {
				width: 51%;
			}

			h2 {
				font-size: 20px;
				line-height: 30px;
				padding-bottom: 10px;
			}

			p {
				width: 99%;
				font-size: 15px;
				line-height: 23px;
			}
		}
	}

	.record-body__hero {
		.character {
			width: 50%;
			&-text {
				h2 {
					font-size: 20px;
					line-height: 30px;
					padding-bottom: 10px;
				}

				p {
					width: 99%;
					font-size: 15px;
					line-height: 23px;
				}
			}
		}
	}
}

@media (max-width: 576px) {
	.retarget-body {
		background-position: 152% 1px;
		background-size: 75% 28%;
		padding: 75px 0 81px 0;

		h1 {
			width: 77%;
			padding: 75px 0 19px 0;
			font-size: 34px;
			line-height: 41px;
		}

		p {
			width: 83%;
			font-size: 18px;
			line-height: 25px;
		}
	}

	.record-behavior {
		p {
			color: #e9e9e9;
			font-size: 18px;
			line-height: 25px;
		}

		&__body {
			padding-bottom: 64px;
		}
		&.mocap-record .mocap-behavior {
			margin-bottom: 0;
			width: 100%;
			margin-left: 0;
		}
		.mocap {
			display: block;

			.text-body {
				padding-left: 0;
			}
			#mask-polina {
				path {
					transform: scale(0.37);
				}
			}
			#mask-priced path {
				transform: scale(0.375);
			}
			&-behavior {
				height: 200px;
				margin: 0;
				margin-left: 20%;
				video {
					height: 90%;
					object-fit: cover;
				}
				// .mocap-behavior--priced
				&--priced {
					img {
						width: 100%;
						height: 100%;
					}
				}
			}

			.btn {
				margin-top: 28px;
				font-size: 17px;
				padding: 18px 86px;
			}
		}
	}

	.record-animation__body {
		.container {
			padding: 0;
		}

		.wrapper {
			background-image: url(/client/images/png/actor-body-mobile.png);
			background-size: 100% 66%;
			background-repeat: no-repeat;
			background-position: 35% 260px;
			border-radius: inherit;
		}

		.card {
			padding: 32px 0 472px 0px;

			p {
				padding: 0 30px;
				width: auto;
				font-size: 34px;
				line-height: 41px;
			}

			&-body {
				img {
					display: none;
				}
			}
		}
	}

	.plusMocap {
		padding: 64px 0 0 0;

		p {
			font-size: 32px;
			line-height: 36px;
			margin-left: 0;
			text-indent: 0;

			br {
				display: none;
			}
		}
	}

	.mocap-record {
		padding-bottom: 30px;

		.mocap {
			&-behavior {
				margin-bottom: 39px;
			}

			div {
				width: 101%;
			}

			h2 {
				font-size: 34px;
				line-height: 35px;
				padding-bottom: 22px;
			}

			p {
				width: 100%;
				font-size: 16px;
				line-height: 20px;
				color: #e9e9e9;
				padding-bottom: 40px;
			}

			&--mobile {
				display: flex;
				flex-direction: column-reverse;
				padding-top: 10px;
				padding-bottom: 0;
			}
		}
	}

	.record-body__hero {
		.character {
			width: 100%;
			#mask-robots path {
				transform: scale(0.385);
			}
			// .character-hero
			&-hero {
				width: 100%;
				img {
					width: 100%;
				}
			}
			&-text {
				display: none;

				&--mobile {
					display: block;
					width: 97%;

					h2 {
						font-size: 34px;
						line-height: 35px;
						padding-bottom: 22px;
					}

					p {
						width: 99%;
						font-size: 18px;
						line-height: 25px;
						color: #e9e9e9;
						padding-bottom: 53px;
					}
				}
			}
			// .character-btn
			&-btn {
				.button {
					display: block;
					.btn-gray {
						width: 100%;
						padding: 15px 10px;
						&__wrapper {
							display: block;
							padding: 0;
						}
					}
				}
			}
		}
	}
}
